rules:
  - id: CWE15_External_Control_of_System_or_Configuration_Setting__w32_02
    message: "Potential external control of system or configuration setting vulnerability."
    severity: ERROR
    metadata:
      cwe: "CWE-15"
    languages: [c]
    patterns:
      - pattern: |
          char * $DATA;
          ...
          recv($SOCKET, $DATA, ..., 0);
          ...
          if (!SetComputerNameA($DATA))
          {
            ...
          }
      - pattern-not: |
          char * $DATA;
          ...
          strcpy($DATA, "hostname");
          ...
          if (!SetComputerNameA($DATA))
          {
            ...
          }