rules:
  - id: CWE15_External_Control_of_System_or_Configuration_Setting__w32_01
    message: "Potential external control of system or configuration setting. Avoid using external unsanitized input to set system configurations."
    severity: ERROR
    metadata:
      cwe: "CWE15"
    languages: [c]
    patterns:
      - pattern: |
          recv($SOCKET, $BUFFER, $LENGTH, 0)
      - pattern-not: |
          strcpy($BUFFER, "hostname")